{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %} Designik | Change password {% endblock title %}

{% block content %}

  <section class="form-pages">
    <div class="container form-pages__container">

      {% include '../common/heading.html' with class="form-pages" text="Change password" %}

      <form 
        action="" 
        method="post" 
        autocomplete="off" 
        novalidate
        class="form form-pages__form"
      >
        {% csrf_token %}

        {% for field in form.visible_fields %}
        <div class="form__group">
          {% render_field field class="form__input" placeholder=" " %}
          <label 
            for="{{ field.id_for_label }}"
            class="form__label" 
          >
            {{ field.label }}
          </label>
          <div class="form__errors">
            {{field.errors}}
          </div>
        </div>
        
        {% endfor %}
        <button 
          type="submit"
          class="btn btn--md btn--blue form__btn" 
        >
          Submit
        </button>
        <a 
          href="{% url 'password_reset' %}"
          class="form__password-reset" 
        >
          Lost password?
        </a>
        <input 
          type="hidden" 
          name="next" 
          value="{{ next }}">
      </form>
    </div>
  </section>

{% endblock content %}