{% load static %}
<section class="hero">
  <div class="hero__container container">
    <div class="hero__left">
      <h1 class="heading-primary hero__heading">
        <span class="heading-primary--main">
          WE DO EVERYTHING
        </span>
        <span class="heading-primary--sub">
          WHAT YOU WANT
        </span>   
      </h1>
      <p class="hero__text">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>
      <a href="#" class="btn btn--white btn--md">
        Read More
      </a>
    </div>
    <div class="hero__right">
      <img 
        class="hero__img" 
        src="{% static 'img/img-hero.png' %}" 
        alt="phone"
      >
    </div>
  </div>
</section>