<section class="stats">
  <div class="container">

    {% include "../common/heading.html" with class="stats" text="Our Stats" class2="heading-secondary--white" %}
    
    <ul class="stats__list">
      <li class="stats__item">
        <span class="stats__number">
          200
        </span>
        <span class="stats__description">
          Projects
        </span>
      </li>
      <li class="stats__item">
        <span class="stats__number">
          1500
        </span>
        <span class="stats__description">
          Logo Design
        </span>
      </li>
      <li class="stats__item">
        <span class="stats__number">
          900
        </span>
        <span class="stats__description">
          Business Card
        </span>
      </li>
      <li class="stats__item">
        <span class="stats__number">
          50
        </span>
        <span class="stats__description">
          PSD Template
        </span>
      </li>
    </ul>
  </div>
</section>