{% load static %}
<section class="team">
  <div class="container">
    {% include "../common/heading.html" with text="Meet Our Team" class="team" %}

    <ul class="team__list">
      <li class="team__item">
        <img 
          src="{% static 'img/img-team-1.jpg' %}" 
          alt="Mahmudul Hasan Manik Photo" 
          class="team__img"
        >
        <p class="team__name">
         Mahmudul Hasan Manik
        </p>
        <p class="team__position">
          CEO & PSD  Developer
        </p>
        <ul class="social team__social">
          <li class="social__item">
            <a 
              href="/" 
              class="social__link social__link--facebook"
              aria-label="Link to facebook"
            >
              <i class="icon-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <li class="social__item">
            <a 
              href="/" 
              class="social__link social__link--twitter"
              aria-label="Link to twitter"
            >
              <i class="icon-twitter" aria-hidden="true"></i>
            </a>
          </li>
          <li class="social__item">
            <a 
              href="/" 
              class="social__link social__link--gplus"
              aria-label="Link to google plus"
            >
              <i class="icon-gplus" aria-hidden="true"></i>
            </a>
          </li>
          <li class="social__item">
            <a 
              href="/" 
              class="social__link social__link--skype"
              aria-label="Link to skype"
            >
              <i class="icon-skype" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </li>

      <li class="team__item">
        <img 
          src="{% static 'img/img-team-2.jpg' %}" 
          alt="Afreen Sumaya Photo" 
          class="team__img"
        >
        <p class="team__name">
          Afreen Sumaya
        </p>
        <p class="team__position">
          Senior Logo Designer
        </p>
        <ul class="social team__social">
          <li class="social__item">
            <a 
              href="/" 
              class="social__link social__link--facebook"
              aria-label="Link to facebook"
            >
              <i class="icon-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <li class="social__item">
            <a 
              href="/" 
              class="social__link social__link--twitter"
              aria-label="Link to twitter"
            >
              <i class="icon-twitter" aria-hidden="true"></i>
            </a>
          </li>
          <li class="social__item">
            <a 
              href="/" 
              class="social__link social__link--gplus"
              aria-label="Link to google plus"
            >
              <i class="icon-gplus" aria-hidden="true"></i>
            </a>
          </li>
          <li class="social__item">
            <a 
              href="/" 
              class="social__link social__link--skype"
              aria-label="Link to skype"
            >
              <i class="icon-skype" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </li>

      <li class="team__item">
        <img 
          src="{% static 'img/img-team-3.jpg' %}" 
          alt="Yeasir Ahmed Raz Photo" 
          class="team__img"
        >
        <p class="team__name">
          Yeasir Ahmed Raz
        </p>
        <p class="team__position">
          Senior App Developer
        </p>
        <ul class="social team__social">
          <li class="social__item">
            <a 
              href="/" 
              class="social__link social__link--facebook"
              aria-label="Link to facebook"
            >
              <i class="icon-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <li class="social__item">
            <a 
              href="/" 
              class="social__link social__link--twitter"
              aria-label="Link to twitter"
            >
              <i class="icon-twitter" aria-hidden="true"></i>
            </a>
          </li>
          <li class="social__item">
            <a 
              href="/" 
              class="social__link social__link--gplus"
              aria-label="Link to google plus"
            >
              <i class="icon-gplus" aria-hidden="true"></i>
            </a>
          </li>
          <li class="social__item">
            <a 
              href="/" 
              class="social__link social__link--skype"
              aria-label="Link to skype"
            >
              <i class="icon-skype" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </li>
    </ul>

    <a href="/" class="btn btn--blue btn--md team__btn">
      View All
    </a>
  </div>
</section>