{% load static %}
<section class="wedo">
  <div class="container wedo__container">
    <h2 class="heading-secondary wedo__heading">
      What We Do
      <span class="heading-secondary--1"></span>
      <span class="heading-secondary--2"></span>
      <span class="heading-secondary--3"></span>
    </h2>
    <ul class="list wedo__list">

      <li class="list__item wedo__item">
        <img 
          src="{% static 'img/icons/icon-wedo-1.png' %}" 
          alt="" 
          class="wedo__icon"
        >
        <h4 class="wedo__title">
          We love Android
        </h4>
        <p class="wedo__description">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 
        </p>
      </li>
      
      <li class="list__item wedo__item">
        <img 
          src="{% static 'img/icons/icon-wedo-2.png' %}" 
          alt="" 
          class="wedo__icon"
        >
        <h4 class="wedo__title">
          Support With Care
        </h4>
        <p class="wedo__description">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 
        </p>
      </li>

      <li class="list__item wedo__item">
        <img 
          src="{% static 'img/icons/icon-wedo-3.png' %}" 
          alt="" 
          class="wedo__icon"
        >
        <h4 class="wedo__title">
          Updates & Bug fixes
        </h4>
        <p class="wedo__description">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 
        </p>
      </li>

      <li class="list__item wedo__item">
        <img 
          src="{% static 'img/icons/icon-wedo-4.png' %}" 
          alt="" 
          class="wedo__icon">
        <h4 class="wedo__title">
          Clean & Organized Code
        </h4>
        <p class="wedo__description">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 
        </p>
      </li>

      <li class="list__item wedo__item">
        <img 
          src="{% static 'img/icons/icon-wedo-5.png' %}" 
          alt="" 
          class="wedo__icon"
        >
        <h4 class="wedo__title">
          Well Documented
        </h4>
        <p class="wedo__description">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 
        </p>
      </li>

      <li class="list__item wedo__item">
        <img 
          src="{% static 'img/icons/icon-wedo-6.png' %}" 
          alt="" 
          class="wedo__icon"
        >
        <h4 class="wedo__title">
          Reasonable Pricing
        </h4>
        <p class="wedo__description">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 
        </p>
      </li>
    </ul>
  </div>
</section>