.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100rem;
	font-size: 16px;
	box-shadow: 0 1.1rem 1.3rem rgba(30, 34, 47, 0.14);
	transition: all .5s ease;

	&:hover {
		transform: translateY(-3px);
	}

	&--white {
		background-color: #feffff;
		color: $color-primary;

		&:hover {
			background-color: darken(#feffff, 10%);
		}
	}

	&--blue {
		background-color: $color-primary;
		color: $color-white;

		&:hover {
			background-color: darken($color-primary, 10%);
		}
	}

	&--black {
		background-color: #1f2732;
		color: #feffff;

		&:hover {
			background-color: darken(#1f2732, 10%);
		}
	}

	&--sm {
		width: 100px;
		line-height: 41px;
	}

	&--md {
		width: 130px;
		line-height: 54px;
	}

	&--lg {
		width: 192px;
		line-height: 54px;
	}
}
