.social {
	display: flex;
	justify-content: space-between;

	&__link {
		width: 32px;
		height: 32px;
		display: flex;
		justify-content: center;
		align-items: center;

		&:hover i {
			color: $color-gray-dark;
		}

		i {
			color: $color-white;
			transition: all .2s ease;
		}

		&--facebook {
			background-color: #46619d;
		}

		&--twitter {
			background-color: #1d9ff3;
		}

		&--gplus {
			background-color: #dd4338;
		}

		&--skype {
			background-color: #1d9ff3;
		}
	}
}
