.header {
	z-index: 100000;
	position: fixed;
	width: 100%;
	margin: 0 auto;
	left: 0;
	right: 0;
	background-color: $color-primary;
	transition: all .5s;
	box-shadow: 0 1.1rem 1.3rem rgba(0, 0, 0, 0.14);

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
	}

	&__unpin {
		margin-top: -20rem;
	}

	&__top {
		box-shadow: none;
	}
}
